<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self' ">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/themes/blue.css" id="themePage">
    <link rel="stylesheet" type="text/css" href="./css/textsize/medium.css" id="fontSize">
    <link rel="stylesheet" href="./css/jquery-ui.css">
    <script>window.$ = window.jQuery = require('./js/jquery-3.5.1.min.js')</script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery-ui.js"></script>
    <title id="pageTitle"></title>
  </head>
  <body>
    <!-- You can also require other files to run in this process -->
    <script src="./index.js"></script>
  </body>
</html>
