body {
    color: #996515;
    background-color: #FAFAD2;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, input, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    color: #996515;
}
a.btn.btn-primary, button.btn.btn-primary, a.btn.btn-primary span{
    color: #FAFAD2;
}
a.btn.btn-primary, button.btn.btn-primary{
    background-color: #DAA520;
    border-color: #CFB53B;
}
a.btn.btn-primary:hover, button.btn.btn-primary:hover{
    color: #FAFAD2;
    background-color: #996515;
    border-color: #CFB53B;
}
a.btn.btn-primary:focus, button.btn.btn-primary:focus, #mainMenu button#title{
    color: #FAFAD2;
    background-color: #8B4513;
    border-color: #CFB53B;
}
a.sheetTab.active{
    background-color: #9c7c38;
}
a.sheetTab.active:hover{
    background-color: #996515;
}
a.sheetTab input.fieldNameTab {
    color: #8B4513;
}

.slider{
    background-color: #8B4513;
}
.box.panel{
  color: #996515;
}
.box .title input{
  color: #996515;
}
.box .title, .reportTitle .title{
  background-color: #996515;
  color: #FAFAD2;
}
.profile{
    border-color: #CFB53B;
}
.hint{
  background-color: #FFD;
  border-color: #CFB53B;
}
.panel.mainPanel, #mainMenu.panel, .box.panel{
  background-color: rgb(250,250,230);
  border-color: #CFB53B;
}
table#sheet tr.bottom td.bottom, div#sheetTabs table.sheetTabs {
    background-color: rgb(250,250,230)
}
div#sheetTabs table.sheetTabs, div#sheetTabs table.sheetTabs tr, div#sheetTabs table.sheetTabs tr td{
    border-top: 2px solid #996515;
}
table#sheet, table#sheet tr, table#sheet tr td, table#sheet tr td.title.statsTitle, table#sheet tr td.null table#sheet tr td.lines,
table#sheet tr td.bottomStats, table#sheet tr td.footLine, table#sheet tr td.rightStats{
    border-color: #CFB53B;
}
table#sheet td, table#sheet input, table#sheet select,
table#sheet tr.odd_line #ballon.subValues td, table#sheet tr.odd_line #ballon.subValues input, table#sheet tr.odd_line #ballon.subValues select,
table#sheet tr.highlight #ballon.subValues div.sheetField, table#sheet tr.highlight #ballon.subValues td, table#sheet tr.highlight #ballon.subValues td select{
    background-color: #FFF;
}
table#sheet tr.odd_line td, table#sheet tr.odd_line input, table#sheet tr.odd_line select,
table#sheet tr.odd_line #ballon.subValues td.odd_line, table#sheet tr.odd_line #ballon.subValues td.odd_line input, table#sheet tr.odd_line #ballon.subValues td.odd_line select,
table#sheet #ballon.subValues td.odd_line, table#sheet #ballon.subValues td.odd_line input, table#sheet #ballon.subValues td.odd_line select,
table#sheet tr.highlight #ballon.subValues td.odd_line div.sheetField, table#sheet tr.highlight #ballon.subValues td.odd_line, table#sheet tr.highlight #ballon.subValues td.odd_line select{
    background-color: #FAFAD2;
}
table#sheet .title, table#sheet tr.odd_line td.title, table#sheet #ballon.subValues td.title, table#sheet tr.odd_line #ballon.subValues td.title,
table#sheet tr.highlight #ballon.subValues td.title{
 color: #9c7c38;
 background-color:#e4d96f;
}
table#sheet td.title.titleSorted, table#sheet tr.odd_line td.title.titleSorted, table#sheet .titleSorted .title{
  background-color:#996515;
  color: rgb(250,250,230);
}
table#sheet #ballon.subValues .sheetField:disabled, #sheet #ballon.subValues td.odd_line .sheetField:disabled{
    background-color: #E7E7E7;
}
table#sheet tr td.lines, table#sheet tr td.null{
    background-color:#E7E7E7;
    border-right-color: #777;
    border-bottom-color: #777;
    color: #777;
}

table#sheet #rightStats, table#sheet #bottomStats td{
    background-color: #E7E7E7;
}

table#sheet tr td.lines:hover, table#sheet td#rightStats:hover, table#sheet #bottomStats td:hover{
    background-color: #C7C7C7;
}

table#sheet tr.highlight td div.sheetField, table#sheet tr.highlight td, table#sheet tr.highlight td div.sheetField input, table#sheet tr.highlight td div.sheetField select,
table#sheet tr.highlight td div.sheetField textarea{
    background-color: #efcc00;
}

#ballon, #ballon textarea{
    background-color: #fff65b;
}
.ballonArrow{
    color: #fff65b;
}

#ballon.subValues {
    background-color: #cfb53b;
}
.ballonArrow.subValues{
    color: #cfb53b;
}

#ballon.preview{
    border-color: #CFB53B;
    color: #003571;
    background-color: #FFF;
}
#ballon.preview tr.odd, #ballon.preview tr.odd input{
    background-color: #FAFAD2;
}

.submenuArrow{
    color: #999;
}

.commentDot{
    border-color: #CFB53B;
    background-color: #fff65b;
}

.transactionDot{
    border-color: #CFB53B;
    background-color: #8B4513;
}

#selectors .label, #selectors .label span, #selectors .title{
    color: #9c7c38;
    background-color:#e4d96f;
    border-color: #CFB53B;
}